
@{
    ViewBag.Title = "Donate";
}

<h2>Donate</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Coin</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>BTC</td>
            <td>19hi2dsAZTTaTDiUGFFryeDfEz8nLmJ7Za</td>
        </tr>
        <tr>
            <td>ETH</td>
            <td>0x22d5e0a6f1fca24fe4d61b33e87f84a006329774</td>
        </tr>
        <tr>
            <td>BCH</td>
            <td>1D51UNUA4AD12gCLBibFxtBqC9xd7BRRPb</td>
        </tr>
        <tr>
            <td>LTC</td>
            <td>LN8T5iwRgHHhoh6qjR7dcJ6R1coQ9x5j1n</td>
        </tr>
        <tr>
            <td>DGE</td>
            <td>DBdDSEMyJ2owG7Pxw27AynjXVieXAjpMWL</td>
        </tr>
        <tr>
            <td>ARK</td>
            <td>AFmz9vZN1SzqsxZuwos64yeYEvtyz86dhG</td>
        </tr>
    </tbody>
</table>
