@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RemindCryptoBot</h1>
    <p class="lead">Best bot, he reminds you of things</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>To do </h2>
        <p>
            <ul>
                <li>Better expression parsing</li>
                <li>Support 'before' and 'after' as expression operators together with a datetime</li>
                <li>Overhaul for this site</li>
                <li>How to, explaining how the bot works and what is possible</li>
                <li>Allow bot to receive PM commands for -list, and -delete {id} (perhaps -currencies and -help as well?)</li>
                <li>Show supported currencies on site</li>
                <li>Support more currencies</li>
                <li>Donations through crypto, so i don't go poor hosting this on azure</li>
                <li>Make bot link to this site for info?</li>
                <li>List used packages</li>
                <li>List used clients</li>
            </ul>
        </p>
    </div>
</div>
