@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">RemindCryptoBot</h1>
    <p class="lead">Best bot, he reminds you of things</p>
</div>

<div class="row">
    <div class="col-md-12">
        <p>
            Questions or requests? PM /u/parijsy
        </p>
    </div>
</div>
