@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RemindCryptoBot</h1>
    <p class="lead">Best bot, he reminds you of things</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>To do </h2>
        <p>
            <ul>
                <li>Donations through crypto, so i don't go poor hosting this on azure</li>
                <li>Make bot link to this site for info?</li>
            </ul>
        </p>
    </div>
</div>
