<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RedditRemindCrypto.Business.IntegrationTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RedditRemindCrypto.Business.IntegrationTests.Properties.Settings>
            <setting name="RedditBot_Username" serializeAs="String">
              <value>USERNAME</value>
            </setting>
            <setting name="RedditBot_Password" serializeAs="String">
              <value>PASSWORD</value>
            </setting>
            <setting name="RedditBot_ClientId" serializeAs="String">
              <value>CLIENTID</value>
            </setting>
            <setting name="RedditBot_ClientSecret" serializeAs="String">
              <value>CLIENTSECRET</value>
            </setting>
            <setting name="RedditBot_RedirectUri" serializeAs="String">
              <value>REDIRECTURI</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
              <value>CONNECTIONSTRING</value>
            </setting>
        </RedditRemindCrypto.Business.IntegrationTests.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>